.body form {
  display: grid;
  max-width: 500px;
  grid-template-columns: auto auto;
  row-gap: 10px;
}

input[type="submit"] {
  grid-column: 1 / span 2;
  margin: auto;
  min-width: 100px;
}

input {
  max-width: 400px;
}
